.App {
  text-align: center;
  background-color: #CCFFFF;
  /* padding: 16px 32px; */
}

.root-calendar {
  max-width: '100%';
  margin: 'auto';
  background-color: white;
  padding: 32px;
  position: relative;
}

.header-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-calendar {
  color: #0F4C81;
  border: none;
  background-color: transparent;
  font-size: 26px;
  cursor: pointer;
  padding: 16px;
}

.button-calendar-desktop {
  color: #0F4C81;
  border: none;
  background-color: transparent;
  font-size: 26px;
  cursor: pointer;
  padding: 16px;
  display: block;
}

.text-left-calendar {
  padding: 16px;
  font-size: 1.0em;
  text-align: center;
  align-self: center;
  color: #5684AE;
  border: 1px solid #5684AE;
  border-radius: 10px;
  cursor: pointer;
}

.view-mode-select {
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
  align-self: center;
  border-radius: 10px;
  display: block;
}

.right-calendar {
  margin-bottom: '20px';
  justify-content: 'center';
  display: block;
}

.month-year {
  color: #0F4C81;
}

.table-calendar {
  width: 100%;
  text-align: center;
  border-spacing: 0px;
  table-layout: fixed;
}

.table-calendar td {
  padding: 10px;
  border: 1px solid #ddd;
  height: 50px;
  max-height: 50px;
  max-width: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table-calendar td:hover {
  background-color: rgb(59, 157, 243);
}

.is-today {
  color: white;
  background-color: #0F4C81;
  padding: 8px;
  border-radius: 50%;
  width: max-content;
}

.not-today {
  color: black;
}

.Popup-root {
  background-color: rgb(75, 72, 72, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-day {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
}

.events {
  white-space: nowrap;
  overflow: auto;
  max-width: 100%;
  max-height: 120px;
}

.from-input-data {
  width: 30%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 70%;
}

.div-input {
  display: grid;
  grid-template-columns: 2fr 3fr;
  text-align: left;
  padding: 10px;
  width: 100%;
}

.title-event {
  font-size: 1.5em;
  text-align: center;
  align-self: center;
  color: #0F4C81;
}

.div-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.button-save {
  background-color: rgb(59, 243, 120);
  border: none;
  border-radius: 10px;
  padding: 8px 32px;
  align-self: flex-end;
  cursor: pointer;
}

.button-save:hover {
  background-color: #0F4C81;
}

.button-cancel {
  background-color: rgb(79, 83, 81);
  border: none;
  border-radius: 10px;
  padding: 8px 32px;
  align-self: flex-end;
  cursor: pointer;
  color: white;
}

.error {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: red;
}

.day-header {
  text-align: center;
}

.week-body {
  display: flex;
  flex-direction: column;
}

.hour-label {
  width: 50px;
}

.hour-cell {
  width: 120px;
  height: 50px;
  border: 1px solid #ddd;
  padding: 5px;
  position: relative;
  max-height: 110px;
  gap: 10px;
}

.event {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  overflow: hidden;
}

.event-text {
  border-radius: 3px;
  color: white;
  width: 97%;
}

.week-calendar-table {
  border-spacing: 0px;
  width: 100%;
}

.event-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  width: 100%;
  background-color: rgb(229, 214, 186);
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 8px;
}

.show-events {
  overflow: auto;
  max-height: 300px;
  margin-top: 5px;
  align-self: flex-start;
  width: 100%;
}

.title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #0F4C81;
  white-space: wrap;
  overflow: hidden;
}

.title span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: black;
  word-wrap: break-word;
}

.div-events {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.left-events {
  width: 5px;
  height: auto;
  background-color: rgb(216, 110, 10);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.center-event-pop-up {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.left-event-pop-up {
  width: 5px;
  height: auto;
  background-color: #0F4C81;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.Right-event-pop-up {
  width: 10%;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
}

.icon-video-call {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.div-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div-profile a {
  cursor: pointer;
  margin-left: 5px;
}

.button-calendar-mobile {
  display: none;
}

.react-select__option {
  color: black !important;
}
.header-From {
  width: 90%;
}

.title-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-header span {
  color: #0F4C81;
  font-size: 26px;
  font-weight: bold;
}

.button-add {
  background-color: #0F4C81;
  border: none;
  border-radius: 30px;
  padding: 8px 16px;
  align-self: flex-end;
  cursor: pointer;
  color: white;
}
.header-From h2{
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #5d6064;
}
.icon-close {
  width: 24px;
  height: 24px;
  align-self: flex-end;
  cursor: pointer;
}
.react-select__control {
  background-color: #0F4C81 !important;
  border-radius: 20px !important;
}
.react-select__single-value {
  color: white !important;
}
@media screen and (max-width: 768px) {
  .text-left-calendar {
    display: none;
  }

  .right-calendar {
    display: none;
  }

  .button-calendar-mobile {
    color: #0F4C81;
    border: none;
    background-color: transparent;
    font-size: 26px;
    cursor: pointer;
    padding: 16px;
    display: block;
  }

  .button-calendar-desktop {
    display: none;
  }

  .header-calendar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .root-calendar {
    max-width: '100%';
    margin: 'auto';
    background-color: white;
    padding: 5px;
    position: relative;
  }

  .table-calendar th,
  .table-calendar td {
    border: none;
    /* Đường kẻ mặc định */
  }

  .events {
    display: none;
  }

  .is-Events {
    color: white;
    background-color: #d4c296;
    padding: 8px;
    border-radius: 50%;
    width: max-content;
  }

  .Popup-root {
    background-color: rgb(75, 72, 72, 0.5);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .from-input-data {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0px;
  }

  .div-form-add {
    display: contents;
  }

  .show-events {
    overflow: auto;
    max-height: 100%;
    margin-top: 5px;
    align-self: center;
  }

  .div-input,
  .div-button,
  .show-events {
    width: 90%;
    position: relative;
  }

  .center-event-pop-up {
    width: 85%;
  }

  .table-calendar td:hover {
    background-color: white;
  }

  .isClick {
    background-color: #4070d9 !important;
    color: white;
    padding: 8px;
    border-radius: 50%;
    width: max-content;
  }

  .title-event {
    display: none;
  }
  .icon-close {
    display: none;
  }
}